div.dicas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em;
}

ul,li,a{
    text-decoration: none;
    list-style-type: none;
}




div.galleria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

div.galleria > .card{
   margin-bottom: 4px;
   margin-left: 2px;
}

div.serviços{
    padding: 4em;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FA;

}

footer div.baixo{
    text-align: center;
    margin-top: 2rem;
}

footer .box{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .rodape-box{
    width: 320px;
    height: 150px;
    padding: 20px;
}

@media(max-width: 600px){
    footer .box{
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
}

